name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  ci:
    runs-on: ubuntu-latest

    env:
      CARGO_TERM_COLOR: always

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install deps
        run: | 
          sudo apt-get update && \
          sudo apt-get install yq jq -y

      - uses: actions/setup-node@v4
        with:
          node-version: 20
      
      - name: Install openapi-generator-cli
        run: npm i -g @openapitools/openapi-generator-cli @redocly/cli
      
      - name: Pin generator version
        run: openapi-generator-cli version-manager set 7.9.0

      - name: Install Rust
        uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          toolchain: 1.88.0
          components: rustfmt, clippy

      - name: Cache cargo
        uses: actions/cache@v4
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
            target
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
          restore-keys: |
            ${{ runner.os }}-cargo-

      - name: Codegen
        run: make codegen

      - name: Format
        run: make fmt

      - name: Lint
        run: make lint

      - name: Build
        run: make build

      - name: Test
        run: make test
